<section class="section">
    <div class="container">
            <div class="table-container box is-transparent"> 
                    <table class="table institutions-table">
                        <%= render partial: 'institution', collection: @institutions %>
                    </table>
                </div>
            </div>
        </div>
</section>