<h2>Whatever</h2>
<%= current_user.email %>
<div>
<% for @institution in @institutions %>
<div class="button">
    <%= @institution.name %>
    <%= @institution.code %>
    <img src='<%=@institution.small_logo_url %>'>
    <= button_to '+', {:controller}
    </div>
<% end %>
</div>