<div class="field">
	<%= mfa_challenge_type(challenge) %>
	<%= f.label challenge.label, class:"label has-text-white" %>
	<%= f.text_field "challenges[#{challenge.guid}]", class:"input is-rounded is-primary" %>
</div>