<div>
    <%= @member_guid %>
    <%=form_with url: '/members/registrations/resume' do |f| %>
        <%= render partial: 'challenge', collection: @challenges, locals: {f:f} %>
        <%= f.submit "Submit" %>
    <% end %>
</div>