
<div>
    <% @member = member[:member] %>
    <%= "Membership at #{@member[:institution_name]}" %>
    <img src=<%= @member[:institution_logo]%> />
    <div class="box"> 
        <% @accounts = @member[:accounts] %>
        <%= render partial: 'account', collection: @accounts %>   
    </div>
</div>