<div class="container">
    <h1> User Guid </h1>
    <%= @user_guid %>
    <h2>Memberships</h2>
    <% for @member in @members %>
        <% @institution = read_institution(@member.institution_code) %>
        <%= "Membership at #{@institution.institution.name}" %>
        <div class="box"> 
            <% for @account in @accounts %>
                <div class="button">
                    <%= link_to "#{@account.name} - Balance: #{@account.balance}",{
                        :controller => "accounts",
                        :action => "show",
                        :method => "get",
                        :account_guid => @account.guid,
                        :institution_code => @account.institution_code
                    } %>
                </div>
                <% end %>
            </div>
    <% end %>
    <div>
        <div class="button"> 
            <%= link_to "Add another account",{
                :controller => "institutions",
                :action => "list",
                :method => "get",
            } %>
        </div>
    </div>
</div>

