<div class="section">
   <div class="container">
        <h1> User Guid </h1>
        <%= current_user.guid %>
    </div>
</div>
<div class="section">
    <%= render partial: 'member', collection: @members %>
    <div>
        <div class="button"> 
            <%= link_to "Add another account",{
                :controller => "institutions",
                :action => "index",
                :method => "get",
            } %>
        </div>
    </div>
</div>