 @import "bulma";

 html,body {
   background-color: #36383a;
   color: white;
  }

  .table, tr, td, th {
    background-color: transparent;
    color: white !important;
  }

.institution-link {
  color: white;
}

.institution-link :hover {
  color: rgb(70, 68, 68);
}

.institution-image {
  display:inline;
}

.institution-button {
  margin-top: 7.5%;
  margin-left: -2%;
}

.institutions-table {
margin: 0px auto;
}

.is-medium-gray {
  background-color: #353638;
}

.is-dark-gray {
  background-color: #2a2d2d;
}

.is-light-gray{
  background-color: #424648
}

.borderless-table {
  width: 80%;
  margin: 0px auto;
  border: none !important;
}

.account-button{
  margin-bottom: 3%;
}

.member-card {
  width: 50%;
  margin: 0px auto;
}

.no-shadow {
  box-shadow: none;
}

.member-box {
  margin-left: 20%;
  margin-right: 20%;
  border-color: white;
}

.member-control-button{
  margin-bottom: 3%;
  color: white;
  background-color: #2a2d2d;
}

.is-borderless, td{
  border: none !important;
  border-collapse: collapse !important;
}

.is-centered {
  margin: 0px auto;
}

.is-transparent{
  background-color: transparent;
}

.is-half-width {
  width: 50%;
}
#add-membership {
  width: 50%;
  margin: auto;
}

.nav-button {
  margin: 5%;
  color: white;
}

.top-margin-small {
  margin-top: 6%;
}