 @import "bulma";

 html,body {
   background-color: #2c2e2f;
   color: white;
  }

  .table, tr, td {
    background-color: transparent;
    color: white;
    border: none;
  }

.institution-link {
  color: white;
}

.institution-link :hover {
  color: rgb(70, 68, 68);
}

.institution-button {
  margin-top: 3%;
}

.is-medium-gray {
  background-color: #2b2d2d;
}

.is-dark-gray {
  background-color: #212324;
}

.is-light-gray{
  background-color: #424648
}

#accounts-table {
  width: 80%;
  margin: 0px auto;
}

.account-button{
  margin-bottom: 3%;
}

.member-card {
  width: 50%;
  margin: 0px auto;
}

.no-shadow {
  box-shadow: none;
}

.member-box {
  margin-left: 20%;
  margin-right: 20%;
}