// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
    width: 550px;
    height: 450px;
    margin: auto;
    position: relative;
  }


body {
    background-color: #242424;
}