<tr>
	<td>
		<% p account %>
		<%= link_to "#{account[:name]} -  $#{account[:balance]}", accounts_path(:account_guid => account[:guid]),
		 class: "button account-button is-fullwidth is-dark-gray has-text-white" %>
    </td>
</tr>