<div class="container">
    <div class="box is-dark-gray is-half-width is-centered margin-top-small">
        <%=form_with url: @form_url, method: @method ||= :post do |f| %>
            <%= render partial: 'institution_credential', collection: @institution_credentials, locals: {f:f} %>
            <%= f.hidden_field 'institution_code', :value => @institution_code %>
            <%= f.submit "Submit", class:"button is-dark-gray has-text-white" %>
        <% end %>
    </div>
</div>