<div class="field">
  <%= f.label institution_credential.label, class: "label has-text-white" %>
  <% if institution_credential.type == "PASSWORD" %>
	<%= f.password_field "credentials[#{institution_credential.guid}]", class: "input is-rounded is-primary" %>
  <% else %>
    <%= f.text_field "credentials[#{institution_credential.guid}]", class: "input is-rounded is-primary" %>
  <% end %>
</div>