<div class="field">
	<%= f.label institution_credential.label, class: "label has-text-white" %>
	<%= f.text_field "credentials[#{institution_credential.guid}]", class: "input is-rounded is-primary" %>
</div>

