<div class="container top-container">
  <div class="box member-box is-dark-gray top-margin-small">
    <p class="subtitle is-4 has-text-danger"><%= @connection_status.message %></p>
    <%= render partial: 'credential_form' %>
  </div>
</div>